<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Staff</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form #addStaffForm="ngForm" (ngSubmit)="addStaffForm.valid && onSubmit(addStaffForm)">
                <div class="form-group">
                    <label>First Name:</label>
                    <!--Get staff first name-->
                    <input type="text" #firstName="ngModel" [(ngModel)]="staff.firstName" name="firstName" placeholder="First Name"
                    required  [ngClass]="{'invalid-textbox' :addStaffForm.submitted && !firstName.valid }" class="form-control">
                    <!--Validate staff first name input-->
                    <div *ngIf="addStaffForm.submitted && !firstName.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Last Name:</label>
                    <!--Get staff last name-->
                    <input type="text" #lastName="ngModel" [(ngModel)]="staff.lastName" name="lastName" placeholder="Last Name"
                    required  [ngClass]="{'invalid-textbox' :addStaffForm.submitted && !lastName.valid }" class="form-control">
                    <!--Validate staff last name input-->
                    <div *ngIf="addStaffForm.submitted && !lastName.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Email:</label>
                    <!--Get staff email-->
                    <input type="text" #email="ngModel" [(ngModel)]="staff.email" name="email" placeholder="Email"
                    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :addStaffForm.submitted && !email.valid }" class="form-control">
                    <!--Validate staff email-->
                    <div *ngIf="addStaffForm.submitted && email.errors">
                        <label *ngIf="email.errors.required" class="text-danger">This field is required.</label>
                        <label *ngIf="email.errors.pattern" class="text-danger">Invalid email address.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Password:</label>
                    <!--Get staff password-->
                    <input type="password" #password="ngModel" [(ngModel)]="staff.password" name="password" placeholder="Password"
                    minlength="4" required [ngClass]="{'invalid-textbox' :addStaffForm.submitted && !password.valid }" class="form-control">
                    <!--Validate staff password-->
                    <div *ngIf="addStaffForm.submitted && password.errors">
                        <label *ngIf="password.errors.required" class="text-danger">This field is required.</label>
                        <label *ngIf="password.errors.minlength" class="text-danger">Enter atleast 4 characters.</label>
                    </div>
                </div>
            
                <!--Submit button-->
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Add New Staff">
                </div>
            </form>
        </div>
        
        <!-- Success message -->
        <div class="alert alert-success" *ngIf="showSucessMessage">
            Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert alert-danger" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </div>
</div>

