<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create Auction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form #createAuctionForm="ngForm" (ngSubmit)="createAuctionForm.valid && onSubmit(createAuctionForm)">
                <div class="form-group">
                    <label>Auction Name:</label>
                    <!--Get auction name-->
                    <input type="text" #auctionName="ngModel" [(ngModel)]="auction.auctionName" name="auctionName" placeholder="Auction Name"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !auctionName.valid }" class="form-control">
                    <!--Validate auction name input-->
                    <div *ngIf="createAuctionForm.submitted && !auctionName.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Organizer:</label>
                    <!--Get organizer-->
                    <input type="text" #organizer="ngModel" [(ngModel)]="auction.organizer" name="organizer" placeholder="Organizer"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !organizer.valid }" class="form-control">
                    <!--Validate organizer input-->
                    <div *ngIf="createAuctionForm.submitted && !auctionName.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Max Items:</label>
                    <!--Get max items-->
                    <input type="number" #maxItems="ngModel" [(ngModel)]="auction.maxItems" name="maxItems" placeholder="Max Items"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !maxItems.valid }" class="form-control">
                    <!--Validate max items input-->
                    <div *ngIf="createAuctionForm.submitted && !maxItems.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Address:</label>
                    <!--Get address-->
                    <input type="text" #address="ngModel" [(ngModel)]="auction.address" name="address" placeholder="Address"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !address.valid }" class="form-control">
                    <!--Validate address input-->
                    <div *ngIf="createAuctionForm.submitted && !address.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="form-group">
                    <!--Get date and time-->
                    <label>Date and Time:</label>
                    <input type="datetime-local" #dateTime="ngModel" [(ngModel)]="auction.dateTime" name="dateTime" placeholder="Date and Time"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !dateTime.valid }" class="form-control">
                    <!--Validate date and time input-->
                    <div *ngIf="createAuctionForm.submitted && !dateTime.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Fee:</label>
                    <!--Get fee-->
                    <input type="number" #fee="ngModel" [(ngModel)]="auction.fee" name="fee" placeholder="Fee"
                    required  [ngClass]="{'invalid-textbox' :createAuctionForm.submitted && !fee.valid }" class="form-control">
                    <!--Validate fee input-->
                    <div *ngIf="createAuctionForm.submitted && !fee.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="text-center">
                    <!--Submit button-->
                    <input class="btn btn-primary" type="submit" value="Create Auction">
                </div>
                
            </form>
        </div>

        <!-- Success message -->
        <div class="alert alert-success" *ngIf="showSucessMessage">
            Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert alert-danger" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </div>
</div>



        


