<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Colorado Aquarium Society</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" (click)="onLogout()">
                    <img src="../../../assets/icons/log-out.svg">
                    Sign out
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active">
                                <img src="../../../assets/icons/settings-blue.svg">
                                Administration <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard">
                                <img src="../../../assets/icons/home-black.svg">
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
    
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Administration</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <span>Welcome! <a href="#">{{ userDetails.firstName }}</a>[ {{ userDetails.type }} ]</span>
                        </div>
                    </div>
                </div>
        
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAuctionModal">
                        <img src="../../../assets/icons/file-plus.svg">
                        Create Auction
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStaffModal">
                        <img src="../../../assets/icons/user-plus.svg">
                        Add Staff
                    </button>
                </div>

                <div class="modal fade" id="createAuctionModal" tabindex="-1" role="dialog" aria-labelledby="createAuctionModalLabel" aria-hidden="true">
                    <app-create-auction></app-create-auction>
                </div>
                
                <div class="modal fade" id="addStaffModal" tabindex="-1" role="dialog" aria-labelledby="addStaffModalLabel" aria-hidden="true">
                    <app-add-staff></app-add-staff>
                </div>

                <div class="flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <app-auctions-list></app-auctions-list>
                </div>
            </main>
        </div>
    </div>
</body>
