<!--users sign up icon-->
<div>
    <img src="/assets/user/images/users.png" id="icon" alt="User Icon"/>
</div>

<!--Sign up form-->
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
    <!--Get user first name-->
    <input type="text" #firstName="ngModel" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
    <!--Validate user first name input-->
    <div *ngIf="signUpForm.submitted && !firstName.valid">
        <label class="validation-message">This field is required.</label>
    </div>

    <!--Get user last name-->
    <input type="text" #lastName="ngModel" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name"
    required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
    <!--Validate user last name input-->
    <div *ngIf="signUpForm.submitted && !lastName.valid">
        <label class="validation-message">This field is required.</label>
    </div>

    <!--Get user email-->
    <input type="text" #email="ngModel" [(ngModel)]="user.email" name="email" placeholder="Email"
    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <!--Validate user email-->
    <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>

    <!--Get user password-->
    <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" placeholder="Password"
    minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <!--Validate user password-->
    <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
    </div>

    <!--Submit button-->
    <input type="submit" value="Sign up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>