<div>
    <img src="assets/user/images/single_user.png" id="icon" alt="User Icon" />
</div>

<!--sign in form-->
<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    
    <!--email sign in input-->
    <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" [pattern]="emailRegex" required
        [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
    <!--validate email input-->
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
        <label class="validation-message">Invalid email address.</label>
    </div>
    
    <!--password sign in input-->
    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" required minlength="4"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <!--validate password input-->
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
        <label class="validation-message">Minimum 6 characters.</label>
    </div>
    
    <!--sign in submit button-->
    <input type="submit" value="Sign In">
</form>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>