<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <form #addItemForm="ngForm" (ngSubmit)="addItemForm.valid && onSubmit(addItemForm)">
                
                <div class="form-group">
                    <label>Item Code:</label>
                    <!--Get item code-->
                    <input type="text" #itemCode="ngModel" [(ngModel)]="item.itemCode" name="itemCode" placeholder="Item Code"
                    required  [ngClass]="{'invalid-textbox' :addItemForm.submitted && !itemCode.valid }" class="form-control">
                    <!--Validate item code input-->
                    <div *ngIf="addItemForm.submitted && !itemCode.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Item Name:</label>
                    <!--Get item name-->
                    <input type="text" #itemName="ngModel" [(ngModel)]="item.itemName" name="itemName" placeholder="Item Name"
                    required  [ngClass]="{'invalid-textbox' :addItemForm.submitted && !itemName.valid }" class="form-control">
                    <!--Validate item name input-->
                    <div *ngIf="addItemForm.submitted && !itemName.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Price:</label>
                    <!--Get item price-->
                    <input type="number" #price="ngModel" [(ngModel)]="item.price" name="price" placeholder="Price"
                    required  [ngClass]="{'invalid-textbox' :addItemForm.submitted && !price.valid }" class="form-control">
                    <!--Validate item name input-->
                    <div *ngIf="addItemForm.submitted && !price.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Quantity:</label>
                    <!--Get quantity-->
                    <input type="number" #quantity="ngModel" [(ngModel)]="item.quantity" name="quantity" placeholder="Quantity"
                    required  [ngClass]="{'invalid-textbox' :addItemForm.submitted && !quantity.valid }" class="form-control">
                    <!--Validate quantity input-->
                    <div *ngIf="addItemForm.submitted && !quantity.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Description:</label>
                    <!--Get description-->
                    <textarea type="text" #description="ngModel" [(ngModel)]="item.description" name="description" placeholder="Description"
                    required  [ngClass]="{'invalid-textbox' :addItemForm.submitted && !description.valid }" class="form-control"></textarea>
                    <!--Validate description input-->
                    <div *ngIf="addItemForm.submitted && !description.valid">
                        <label class="text-danger">This field is required.</label>
                    </div>
                </div>
    
                <div class="text-center">
                    <!--Submit button-->
                    <input class="btn btn-primary" type="submit" value="Add Item">
                </div>
                
            </form>
        
            <!-- Success message -->
            <div class="alert alert-success" *ngIf="showSucessMessage">
                Saved successfully
            </div>
            
            <!-- Error message -->
            <div class="alert alert-danger" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
            </div>
        </div>
    </div>   
</div>


    
    