<body class="landing is-preload">
    
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a>Colorado Aquarium Society Auction Portal</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Auction Schedule</a></li>
                                <li><a routerLink="/user/signup">Sign Up</a></li>
                                <li><a routerLink="/user/signin">Sign In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>COLORADO AQUARIUM SOCIETY LIVE AUCTION</h2>
                <p>Dive Into Colorado's <br />
                Largest Exotic Fish Auction<br />
                Built By <a href="https://engineering.ucdenver.edu/academics/undergraduate-programs/undergraduate-programs-in-computer-science/bs-in-computer-science">CU DENVER Computer Engineering Students</a>.</p>
                <ul class="actions special">
                    <li><a href="#" class="button primary">Sign In or Join Now!</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>Join Us At Our Next Upcoming Auction!<br/>
                    </h2>
                    <p>Next Auction in on: 01/01/2020 @ 4pm MST</p>
                </header>
                <ul class="icons major">
                    <li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
                    <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
                    <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="assets/home/images/clownFish.jpg" alt="" /></div><div class="content">
                    <h2>Welcome to Colorado Aquarium Society!<br /> </h2>
                    <p>We host monthy local exotic fish and aquarium related auctions.Bi-Annually we host 2 large-scale auctions for the public. Join Our Club!</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="assets/home/images/stripedFish.jpg" alt="" /></div><div class="content">
                    <h2>Learn More about which items can be used in the auction here<br />
                    Click Below</h2>
                    <p>In order to participate in our auction(s), please follow our guidelines on accepted items.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="assets/home/images/blueStringRay.jpg" alt="" /></div><div class="content">
                    <h2>Reach Out To Us Directly<br /></h2>
                    <p>Interested in learning more about us? Contact Us today!</p>
                </div>
            </section>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Am I ready to participate in the auction?.</h2>
                    <p>Use the checklist below to make sure your are prepared and ready for the auction.</p><br/>
                </header>
                <ul class="features">
                    <li class="icon fa-brain">
                        <h3>1. Remember/Find your UserID</h3>
                        <p>Your userID is unique and assigned to you when you sign up for our club. Do not lose this. You will use the userID number to participate in the Auction and also sign into this website. <br />
                        You will use the userID to upload items for the auction and also to checkout and purchase items you've won.</p>
                    </li>
                    <li class="icon fab-cc-paypal">
                        <h3>2. I want to sell items in the CAS auction.</h3>
                        <p>To sell at our auctions please follow the auction guidlines before uploading your products in order to avoid having your items be rejected. Please have a title, minimum bid price, image, and description for each of your items.<br />
                        Sign in using your userID and Sell Items to begin the process.</p>
                    </li>
                    <li class="icon solid fa-code">
                        <h3>3. How do I checkout and pay for my items?</h3>
                        <p>In order to purchase and checkout the items you've won, you must sign in to our dashboard. There you can access a list of the items you've won and also <br />
                        purchase them using PayPal. Staff will assign your quick sale items to this same dashboard for you to checkout and purchase.</p>
                    </li>
                    <li class="icon solid fa-computer">
                        <h3>4. If my item does not get sold, how do I get it back?</h3>
                        <p>In our system we will know which items were sold and which were not. We will return the items to the people who did not have their item sold.<br />
                        Please contact our staff after the auction.</p>
                    </li>
                    <li class="icon fa-schedule">
                        <h3>5. Where can I view the Auction Schedule?</h3>
                        <p>The auction schedule is available here: Auction Schedule 2019. The auctions are held at 1111 Apple Road Denver, CO at 5pm.</p>
                    </li>
                    <li class="icon fa-flag">
                        <h3>6.When can I upload items to the next upcoming auction?</h3>
                        <p>You can upload your auction items as soon as the previous auction ends. They will be reviewed by our team if they dont follow our guidelines, please view those here: CAS Auction Items Guidelines.</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2>Join Our Club and Sign Up Today!</h2>
                    <p>Sign up for our upcoming auctions by joining today! </p>
                </header>
                <ul class="actions stacked">
                    <li><a routerLink="/user/signup" class="button fit primary">Sign Up</a></li>
                    <li><a routerLink="/user/signin" class="button fit">Sign In</a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Colorado Aquarium Society</li><li>CAS Live Auction: <a href="https://www.aquariumrestaurants.com/downtownaquariumdenver/">Learn More</a></li>
            </ul>
        </footer>
    </div>
</body>