<!-- Page Content -->
<div class="container">

  <button class="btn-prev" (click)="onPrev()"><img src="../../../assets/icons/chevron-left.svg"></button>
  <button class="btn-next" (click)="onNext()"><img src="../../../assets/icons/chevron-right.svg"></button>

  <!-- Portfolio Item Heading -->
  <div class="jumbotron text-center">
      <h1>LIVE AUCTIONING</h1>
      <h1>{{ auction.auctionName }}</h1>
  </div>

  <div class="text-center">
    {{ i + 1 }} / {{ items && items.length }}
  </div>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <div class="text-center border">
          <img class="img-fluid" src="../../../assets/auction-fish.jpeg" width="350">
      </div>

      <div class="border">
          Images list
      </div>
    </div>

    <div class="col-md-4 border">
      <div class="text-center item-info">  
          <h3>{{ items && items[i].itemName }}</h3>
          <p>
            <label>Code:</label>
            {{ items && items[i].itemCode }}
          </p>
          <p>
            <label>Starting Price:</label>
            {{ items && items[i].price | currency }}
          </p>
          <p>
            <label>Quantity:</label>
            {{ items && items[i].quantity }}
          </p>
          <p>
            <label>Description:</label><br>
            {{ items && items[i].description }}
          </p>

          <div class="form-group">
            <label>Final Price:</label>
            <input type="number" placeholder="Final Price" #finalPrice="ngModel" [(ngModel)]="items && items[i].finalPrice"
            name="finalPrice" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Winner Number:</label>
            <input type="number" placeholder="Winner Number" [(ngModel)]="winnerNum" class="form-control" required>
          </div>

          <button class="btn btn-primary" (click)="onSubmit()">Submit</button>

      </div>
    </div>
  </div>

  <app-participants-list></app-participants-list>
  <app-item-list></app-item-list>
  <!-- /.row -->
  
  <!-- Related Projects Row -->
  <!-- <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

  </div> -->
  <!-- /.row -->
  
</div>
<!-- /.container -->
