.item-info{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-next{
    position: absolute;
    right: 1%;
    top: 25%;
    height: 40%;
    font-size: 1in;
    color: rgb(36, 10, 184);
    border-color: white;

}   
.btn-prev{
    position: absolute;
    left: 1%;
    top: 25%;
    height: 40%;
    font-size: 1in;
    color: rgb(36, 10, 184);
    border-color: white;
    
}  