<div class="card-container">
    <div class="card" *ngFor="let auc of auctionsInfo" (click)="onSelectAuction(auc)">
        <h1>{{ auc.auctionName }}</h1>
        <p>Organizer:</p>
        <p class="info">{{ auc.organizer }}</p>
        <p class="number">Max Items: <span class="info">{{ auc.maxItems }}</span></p>
        <p>Address:</p>
        <p class="info">{{ auc.address }}</p>
        <p>Date and Time:</p>
        <p class="info">{{ auc.dateTime }}</p>
        <p class="number">Fee: <span class="info">{{ auc.fee }}</span></p>
        <p><button (click)="auctionSignup()">Sign up</button></p>
    </div>
</div>
    